/* 
colors:
#4D9DEE - medium blue
#D7DCFF - periwinkle
#798395 - gray
#061531 - dark blue

Dakota font: Source Code Pro
User font: Oxygen
*/

html{
    height:100%;
    min-height:100%;
}

body{
    font-size:1rem;
    font-family:'Oxygen',sans-serif;
}

h2 {
    font-size: 16px;
} 

p {
    font-size: 14px;
}

.background {
    background-image: url("/images/White-Paper-Background.jpg");
}
.nav {
    height: 50px;
    
}
.big-robot {
    height: 400px
}

.small-robot {
    height: 100px
}

.center {
    margin: auto;
    width: 50%;
}
.index {
    max-width: 400px;
    border-radius: 15px;
    text-align: justify;
}

.grey-background {
    background-color: #D9D9D9;
    padding: 10px 20px
}
.blue-border {
    border-radius: 15px;
    border-color: #4D9DEE; 
    border-width: thick;  
    background-color: white;
    padding: 10px 15px;
}

.bold {
    font-weight: 900;
}

.blue-text {
    color: #4D9DEE
}

.footer {
    font-size: 12px;
    margin: 10px 
}