/* 
colors:
#4D9DEE - medium blue
#D7DCFF - periwinkle
#798395 - gray
#061531 - dark blue

Dakota font: Source Code Pro
User font: Oxygen
*/
*{
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Oxygen',sans-serif;
    --ff-secondary: 'Source Code Pro', serif;

    --fw-reg: 400;
    --fw-bold: 600;

    --clr-accentblue: #4D9DEE;
    --clr-periwinkle: #D7DCFF;
    --clr-gray: #798395;
    --clr-dkblue: #061531;
    --clr-graycthru: rgba(233, 233, 233, 0.5);

    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --fs-body: .75rem;

    --bg-primary: url("../images/White-Paper-Background.jpg");

}



html{
    height:100%;
    min-height:100%;
}

body{
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    height:100%;
    min-height:100%;
    color: var(--clr-dkblue);
    background-image: url("../images/White-Paper-Background.jpg");
    background-size: cover;
}

.container, .container-fluid  {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    margin: auto;
}



h2 {
    font-size: 16px;
} 

p, #dakota {
    font-family: var(--ff-secondary);
    font-size: 14px;
}

nav, footer {
    text-align: right;
}

.nav, .footer {
    height: 50px;
    display: inline;
}

.svg-size {
    height: 80px;
}

.big-robot {
    height: 350px;
    width: auto;
    max-width: max-content;
    margin: 0 auto;
}

.small-robot {
    height: 100px;
}

.banner {
    background-color: #E7E7E7;
    position: relative;
    z-index: 1;
    padding: 20px;
    height: 80px;
    float: right;
    width: 85%;
    text-align: right;
    margin: 20px 0px;
    font-size: var(--fs-h1);
    color: var(--clr-dkblue);
    border-radius: 20px;

}

.sideways-robot {
    margin: -30px 0px;
    max-height: 225px;
    transform: rotate(90deg) scaleX(-1);
    z-index: 2;
    position: absolute;

}

#robot-banner {
  margin: 0px 0px 30px 0px;
    
}




.next-steps {
    margin-top: 20px; /* Adjust the margin based on your design */
}

.task {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-response {
    margin-bottom: 10px;

}


.dakota-msg {
    border-radius: 15px;
    background-color: var(--clr-graycthru);

}

.blue-border {
    border-radius: 15px;
    border-color: var(--clr-accentblue); 

    border-width: 1px; 
    border-style: solid; 

    background-color: white;
    padding: 10px 15px;
}


.btn{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: var(--clr-accentblue); 
    border-width: 1px; 
    border-style: solid; 
    background-color: white;
    color: var(--clr-dkblue);
    font-size:.75rem;
    padding: 10px 15px;
    font-family: var(--ff-secondary);
}

.btn-inverted{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: var(--clr-accentblue); 
    border: 1px solid white;
    background-color: var(--clr-dkblue);
    color: var(--clr-gray);
    font-size:var(--fs-body);
    padding: 10px 15px;
    font-family: var(--ff-secondary);
}

.btn-small{
    background-color: #1D2A44;
    color:white;
    border: none;
    
}

.chat-bubble{
    border-radius: 15px;
    box-shadow: 0px 4px 7px -5px rgba(0, 0, 0, 1);
    padding: 10px 20px;
    margin: 10px;
}
.human{
    background-color: #D7DCFF;
    width:90%;
    margin-left:10%;

}

.content-chat {
    position: sticky;
    bottom: 0;
}

.bot{
    background-color: #E7E7E7;
    width:90%;
    margin-right:10%;
}

.calculating{
    width:100%;
    transform: scale(1);
    animation: pulse 2s infinite;
}


.bold {
    font-weight: var(--fw-bold);
}


.hidden {
    display: none !important;
}


.container-fluid.chat > nav{
    height: 50px;
}

.container-fluid.chat > div:nth-child(2){
    height: calc(100vh - 246px);
}

.container-fluid.chat > div:last-child{
    height: 96px;
}

.container-fluid.chat > .chatarea > div:first-child{
    height:68%;
    margin-bottom:2%;    
}

.container-fluid.chat > .chatarea > div:last-child{
    height:25%;  
    margin-bottom:5%;  
}

.container-fluid.chat > .chatarea textarea{
    height:80%;
    width:100%;    
}

.container-fluid.chat > .chatarea button{
    width:50%;    
}

.robot .big-robot{
    height:196px;
}


 @keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

} 

@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

    .container-fluid{
        max-width: 50%;
    }
}